.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:white;
}

.box-container {
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(135deg,#00feba,#5b548a);

}

.container {
  margin: 5px;
}
.container h1 {
  text-align: center;
  margin-top: 0;
}

.container input[type="text"] {
  width: 221px;
  height: 39px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: solid black;
  margin: 0;
  font-size: 18px;
  text-align: right;
}

.btn input[type="button"] {
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.979);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;

}
.btn input[type="button"]:hover{
  background-color: aqua;
  color: black;
}
form .btn input.Eq{
  width: 110px;
}